<p>Buttons will eventually open further categories and search lists.</p>

<ul class="level is-hidden-tablet">
  <li class="level-item"><a class="button is-medium is-primary but">Events</a></li>
  <li class="level-item"><a class="button is-medium is-primary but">Food</a></li>
  <li class="level-item"><a class="button is-medium is-primary but">Museum</a></li>
  <li class="level-item"><a class="button is-medium is-primary but">Nightlife</a></li>
  <li class="level-item"><a class="button is-medium is-primary but">Shopping</a></li>
  <li class="level-item"><a class="button is-medium is-primary but">Sightseeing</a></li>
  <li class="level-item"><a class="button is-medium is-primary but">Transport</a></li>
</ul>
<ul class="level is-hidden-mobile">
  <li class="level-item"><a class="button is-medium is-primary">Events</a></li>
  <li class="level-item"><a class="button is-medium is-primary">Food</a></li>
  <li class="level-item"><a class="button is-medium is-primary">Museum</a></li>
  <li class="level-item"><a class="button is-medium is-primary">Nightlife</a></li>
  <li class="level-item"><a class="button is-medium is-primary">Shopping</a></li>
  <li class="level-item"><a class="button is-medium is-primary">Sightseeing</a></li>
  <li class="level-item"><a class="button is-medium is-primary">Transport</a></li>
</ul>
