<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<div class="container">
    <agm-map [latitude]="lat" [longitude]="lng" [scrollwheel]="false" [zoom]="zoom" [mapDraggable]="true" [minZoom]="8"
             [maxZoom]="18">
        <!--(mapClick)="onChoseLocation($event)" -->
        <!-- *ngFor goes here for markers: -->
        <agm-marker [latitude]="lat" [longitude]="lng">
            <agm-info-window>
                <p>You are here!</p>
            </agm-info-window>
        </agm-marker>

        <agm-marker *ngIf="eventService.lat && eventService.lng" [latitude]="eventService.lat"
                    [longitude]="eventService.lng" [iconUrl]="'https://i.imgur.com/E7DcVlF.png'">
            <agm-info-window>
                <p>{{ eventService.locale }}<br>
                    {{ eventService.address }}<br>
                    <a [href]="eventService.eventurl">{{ eventService.eventurl }}</a>
                </p>
            </agm-info-window>
        </agm-marker>
    </agm-map>
</div>

<!--
<div class="container is-desktop is-hidden-mobile">
    <agm-map class="agm-map-desktop" [latitude]="lat" [longitude]="lng" [scrollwheel]="true" [zoom]="zoom" [minZoom]="10">
        &lt;!&ndash;(mapClick)="onChoseLocation($event)" &ndash;&gt;
        &lt;!&ndash; *ngFor goes here for markers: &ndash;&gt;
        <agm-marker [latitude]="lat" [longitude]="lng">
            <agm-info-window>
                <p>Info goes here!</p>
            </agm-info-window>
        </agm-marker>
    </agm-map>
</div>-->

