/* You can add global styles to this file, and also import other style files */





// Custom styles
.top {
  display: flex;
  margin: 5%;
}

.content{
  display: flex;
  margin: 5%;
}

.field {
margin: 3%;
}


// Font styles

.title {
  color: aquamarine !important;
}

.body {
  background-color: yellow !important;
}