/* You can add global styles to this file, and also import other style files */

@import 'sass/utilities/initial-variables';
@import 'sass/utilities/functions';


//Bulma customization

// 2. Set your own initial variables
// Update blue
$blue: #72d0eb;
// Add pink and its invert
$pink: #ffb3b3;
$pink-invert: #fff;

$orange: #FFA500;
$orange-invert: #fff;
// Add a serif family
$family-serif: "Merriweather", "Georgia", serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $orange;
$primary-invert: $orange-invert;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
$family-primary: $family-serif;

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

// 5. Add new color variables to the color map.
@import "sass/utilities/derived-variables.sass";
$addColors: (
        "twitter":($twitter, $twitter-invert),
        "linkedin": ($linkedin, $linkedin-invert),
        "github": ($github, $github-invert)
);
$colors: map-merge($colors, $addColors);


// Custom layout styles
.top {
  display: flex;
  margin: 5%;
}

.content{
  display: flex;
  margin: 5%;
}

.field {
margin: 3%;
}

// Font styles

.title {
  color: aquamarine !important;
}

.body {
  background-color: yellow !important;
}


@import "../node_modules/bulma/bulma.sass";

/*
@import "../node_modules/bulma/sass/utilities/_all";
@import "../node_modules/bulma/sass/grid/columns";
@import "../node_modules/bulma/sass/elements/button.sass";
*/
